<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mycompany.secondyearprogrammingproject.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.mycompany.secondyearprogrammingproject.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quiz</servlet-name>
        <servlet-class>com.mycompany.secondyearprogrammingproject.Quiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWord</servlet-name>
        <servlet-class>com.mycompany.secondyearprogrammingproject.EditWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MembersArea</servlet-name>
        <servlet-class>com.mycompany.secondyearprogrammingproject.MembersArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberEdit</servlet-name>
        <servlet-class>MemberEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestHistory</servlet-name>
        <servlet-class>TestHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestHistoryServlet</servlet-name>
        <servlet-class>com.mycompany.secondyearprogrammingproject.TestHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quiz</servlet-name>
        <url-pattern>/Quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWord</servlet-name>
        <url-pattern>/EditWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MembersArea</servlet-name>
        <url-pattern>/MembersArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberEdit</servlet-name>
        <url-pattern>/MemberEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestHistory</servlet-name>
        <url-pattern>/TestHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestHistoryServlet</servlet-name>
        <url-pattern>/TestHistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
