body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

#results .icon
{
    padding-left:10px;
}

#loaderRow 
{
    margin-top:35px;
    height:250px;
}

#loaderRow .ui.segment
{
    height:100%;
}

.result-text { font-weight: bold; }

.ui.menu .item {
    font-weight: 300;
    font-size: 0.9rem;
}

.column.starter {
    padding: 40px 15px;
}

.home .form label{
	text-align: left;
}

#errorLog, #regd{
	display:none;
}
#errorLog:target, #regd:target{
	display:block;
}
#errorReg{
	display:none;
}
#errorReg:target{
	display:block;
}
.fadeOut{
    position:absolute !important;
    right:10px;
    top:10px;
    min-width:300px;
}
#failed{
    display:none;
}
#failed:target{
    display:block;
}
.tableHead{
    background:transparent;
    border:0;
    color:#000;
}
.tableHead:focus{
    background:white;
}