body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

.ui.menu .item {
    font-weight: 300;
    font-size: 0.9rem;
}

.column.starter {
    padding: 40px 15px;
}

.home .form label{
	text-align: left;
}

#errorLog, #regd{
	display:none;
}
#errorLog:target, #regd:target{
	display:block;
}
#errorReg{
	display:none;
}
#errorReg:target{
	display:block;
}